

<div class="card">
  <div class="card-header">
    <h2>Editing Blog</h2>
  </div>
  <div class="card-body">
    <%= render 'form', blog: @blog %>

    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %>
  </div>
</div>

